@model User

<h3> Login </h3>

<form method="post">
   <input asp-for="EmailAddress" placeholder="example@example.com" title="Email Address"/>
   <input asp-for="Password"  title="Password" />
   <button type="submit"> Login </button>
</form>