@{
   ViewData["Title"] = "My Account";
}

<h1> Welcome, Matt! </h1>
<br />
<h2> My Garage </h2>

<table class="table-bordered table-striped">
   <tr>
      <th> Year </th>
      <th> Make </th>
      <th> Model </th>
      <th> Trim </th>
      <th> Mileage </th>
      <th> Purchase Price </th>
      <th> Cost to Date </th>
      <th> Update </th>
      <th> Service Status </th>
   </tr>
   <tr>
      <td> 1999 </td>
      <td> Jeep </td>
      <td> Cherokee XJ</td>
      <td> Sport </td>
      <td> 192,800 </td>
      <td> $750 </td>
      <td> $5000 </td>
      <td>
         <a href> Update </a>
      </td>
      <td class="bg-success"> </td>
   </tr>
</table>
<br />
<button>
   <a asp-controller="Home" asp-action="AddVehicle"> Add a Vehicle </a>
</button>






